<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="approvalMapper">

	<resultMap id="approvalResultMap" type="ApprovalDto">
		<result column="APPR_NO" property="apprNo"/>
		<result column="APPR_USER" property="apprUser"/>
		<result column="DEPT_NO" property="deptNo"/>
		<result column="APPR_TYPE" property="apprType"/>
		<result column="APPR_DATE" property="apprDate"/>
		<result column="APPR_TITLE" property="apprTitle"/>
		<result column="APPR_CONTENT" property="apprContent"/>
		<result column="CURR_ORDER" property="currOrder"/>
		<result column="APPR_STATUS" property="apprStatus"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="CREATE_USER" property="createUser"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="UPDATE_USER" property="updateUser"/>	
		
		<result column="USER_NAME" property="userName"/>
		<result column="DEPT_NAME" property="deptName"/>
		<result column="RANK_NAME" property="rankName"/>		
		
	


    <!-- 결재선 정보는 selectApproversList 쿼리 결과를 매핑 -->
    <collection property="approvers" column="APPR_NO" select="selectApproversList"/>       
    <collection property="draft" column="APPR_NO" select="selectSimpleDraftDetail"/>       
    <collection property="purchDraft" column="APPR_NO" select="selectPurchDraftDetail"/>
<!--     <collection property="cumstomForms" column="APPR_TYPE" select="selectCustomFormTypes"/>  -->      
	</resultMap>
	
	
   <!-- 문서 타입별 (1 : 1) 매핑 추가 -->
   <resultMap id="draftResultMap" type="DraftDto">
       <result column="ENFORCE_DATE" property="enforceDate"/>
       <result column="COOP_DEPT" property="coopDept"/>
   </resultMap>		
	
    <resultMap id="purchResultMap" type="PurchaseDraftDto">
        <result column="PURCH_DEPT" property="purchDept"/>
        <result column="PURCH_EMP_NAME" property="purchEmpName"/>
        <result column="PURCH_PURPOSE" property="purchPurpose"/>
        <result column="PURCH_DEADLINE" property="purchDeadline"/>
        <result column="PURCH_TOTAL" property="purchTotal"/>
				
				<!-- 물품목록 -->
        <collection property="purchaseItems" ofType="PurchaseHistoryDto">
            <result column="PRODUCT_NO" property="productNo"/>
            <result column="PRODUCT_NAME" property="productName"/>
            <result column="PRODUCT_UNIT" property="productUnit"/>
            <result column="PRODUCT_AMT" property="productAmt"/>
            <result column="PRODUCT_PRICE" property="productPrice"/>
        </collection>
    </resultMap>	
	
	<!-- 결재선 정보 collection 매핑 추가 -->
	<resultMap id="apprLineResultMap" type="ApprLineDto">
		<result column="LINE_NO" property="lineNo"/>
		<result column="APPR_NO" property="apprNo"/>
		<result column="USER_NO" property="userNo"/>
		<result column="LINE_ORDER" property="lineOrder"/>
		<result column="LINE_STATUS" property="lineStatus"/>
		<result column="LINE_DATE" property="lineDate"/>
		<result column="LINE_REASON" property="lineReason"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="CREATE_USER" property="createUser"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="MODIFY_USER" property="modifyUser"/>
		
			<result column="USER_NAME" property="userName"/>
		<result column="DEPT_NAME" property="deptName"/>
		<result column="RANK_NAME" property="rankName"/> 
	</resultMap>	 	
	
	
	
	<resultMap id="apprRefResultMap" type="ApprRefDto">
		<result column="REF_NO" property="refNo"/>
		<result column="APPR_NO" property="apprNo"/>
		<result column="USER_NO" property="userNo"/>
		<result column="REF_TYPE" property="refType"/>
		<result column="READ_YN" property="readYn"/>
		<result column="READ_DATE" property="readDate"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="CREATOR" property="creator"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="MODIFY_USER" property="modifyUser"/>
	</resultMap>
	

	
	<!-- 결재대기문서함페이징 -->
	<select id="selectApprTodoListCount" resultType="_int">
		SELECT
		       COUNT(*)
		  FROM T_APPROVAL A
		  JOIN T_APPR_LINE L
		    ON A.APPR_NO = L.APPR_NO
		 WHERE APPR_STATUS IN(0,1)					<!-- 진행중 -->
		   AND LINE_ORDER = CURR_ORDER  <!-- 현재결재순서 -->
		   AND USER_NO = #{userNo}		  <!-- LOGINUSER -->  	
	</select>
	
	<!-- 결재대기문서함 -->
  <select id="selectApprTodoList" resultMap="approvalResultMap">
		SELECT
		       A.APPR_NO as APPR_NO
		     , APPR_USER
		     , DEPT_NO
		     , APPR_TYPE
		     , APPR_DATE
		     , APPR_TITLE
		     , APPR_CONTENT
		     , CURR_ORDER
		     , LINE_ORDER
		     , APPR_STATUS
		     , LINE_NO
		     , USER_NO 
		     , LINE_STATUS
		     , LINE_DATE
		     , LINE_REASON
		  FROM T_APPROVAL A
		  LEFT JOIN T_APPR_LINE L
		    ON A.APPR_NO = L.APPR_NO
		 WHERE APPR_STATUS IN(0,1)					<!-- 진행중 -->
		   AND LINE_ORDER = CURR_ORDER  <!-- 현재결재순서 -->
		   AND USER_NO = #{userNo}		  <!-- LOGINUSER -->
		 ORDER
		    BY APPR_DATE DESC 
  </select>
  
  <!-- 결재예정문서 페이징 -->
  <select id="selectApprUpcomingListCount" resultType="_int">
		SELECT
		       COUNT(A.APPR_NO)  
		  FROM T_APPROVAL A
		  JOIN T_APPR_LINE L
		    ON A.APPR_NO = L.APPR_NO
		 WHERE APPR_STATUS IN(0,1)      <!-- 대기/진행중 -->
		   AND L.USER_NO = #{userNo} 						 <!-- LOGINUSER   -->	
		   AND CURR_ORDER &lt; LINE_ORDER      <!-- 현재결재순서 -->		       
  </select>
  
  <!-- 결재예정문서 -->
  <select id="selectApprUpcomingList" resultMap="approvalResultMap">
		SELECT A.APPR_NO as APPR_NO
		     , APPR_USER
		     , DEPT_NO
		     , APPR_TYPE
		     , APPR_DATE
		     , APPR_TITLE
		     , APPR_CONTENT
		     , APPR_STATUS
		     , CURR_ORDER
		     , LINE_NO
		     , L.USER_NO
		     , LINE_ORDER
		     , LINE_STATUS
		     , LINE_DATE
		     , LINE_REASON
		  FROM T_APPROVAL A
		  JOIN T_APPR_LINE L
		    ON A.APPR_NO = L.APPR_NO
		 WHERE APPR_STATUS IN(0,1)      <!-- 대기/진행중 -->
		   AND L.USER_NO = #{userNo} 						 <!-- LOGINUSER   -->	
		   AND CURR_ORDER &lt; LINE_ORDER      <!-- 현재결재순서 -->
  </select>
  
  <!-- 기안문서함페이징 -->
  <select id="selectMyDocListCount" parameterType="map" resultType="_int">
  	SELECT
  				 COUNT(APPR_NO)
  		FROM T_APPROVAL
  	 WHERE APPR_USER = #{userNo}
  	 <if test="status != null and status !=''">
  	 		AND APPR_STATUS = #{status}
  	 </if>
  </select>
  
  <!-- 기안문서함 -->
  <select id="selectMyDocList" resultMap="approvalResultMap">
		SELECT 
		       APPR_NO
		     , APPR_USER
		     , APPR_TYPE
		     , APPR_TITLE
		     , DEPT_NO
		     , APPR_DATE
		     , APPR_STATUS
		     , CREATE_DATE
		     , MODIFY_DATE
		     , UPDATE_USER
		     <!-- , (SELECT COUNT(*) FROM T_ATTACHMENT WHERE APPR_NO = A.APPR_NO) AS ATTACH_COUNT -->
		  FROM T_APPROVAL
		 WHERE APPR_USER = #{userNo}	
		 <if test="status != null and status !=''">
		 		AND APPR_STATUS = #{status}
		 </if>
		 ORDER
		    BY APPR_DATE DESC
  </select>
  
  <!-- 결재문서함 -->
  <select id="selectMyApprovedList" resultMap="approvalResultMap">
		SELECT 
		       A.APPR_NO as APPR_NO
		     , APPR_USER
		     , DEPT_NO
		     , APPR_TYPE
		     , APPR_DATE
		     , APPR_TITLE
		     , APPR_CONTENT
		     , APPR_STATUS
		     , LINE_NO
		     , USER_NO 
		     , LINE_ORDER
		     , LINE_STATUS
		     , LINE_DATE
		     , LINE_REASON
		  FROM T_APPROVAL A
		  LEFT JOIN T_APPR_LINE L
		    ON A.APPR_NO = L.APPR_NO
		 WHERE USER_NO = #{userNo}  <!-- LOGINUSER -->
		 <choose>
		 		<when test="status != null and status !=''">
		 			AND APPR_STATUS = #{status}
		 		</when>
		 		<when test="status==null">
		 			AND APPR_STATUS IN(2,3)
		 		</when>
		 </choose>		 
		  
  </select>
  
  <select id="selectMyApprovedListCount" resultType="_int">
		SELECT 
		       COUNT(A.APPR_NO)
		  FROM T_APPROVAL A
		  LEFT JOIN T_APPR_LINE L
		    ON A.APPR_NO = L.APPR_NO
		 WHERE USER_NO = #{userNo}  <!-- LOGINUSER -->
		   AND APPR_STATUS IN(2,3)   
  </select>
  
  <!-- 참조/열람대기문서함 -->
  <select id="selectApprViewerList" resultMap="apprRefResultMap">
		SELECT 
		       REF_NO
		     , R.APPR_NO
		     , USER_NO
		     , REF_TYPE
		     , READ_YN
		     , READ_DATE
		  FROM T_APPR_REF R
		  JOIN T_APPROVAL A
		    ON R.APPR_NO = A.APPR_NO
		 WHERE USER_NO = #{userNo}    <!-- LOGINUSER -->
		   AND APPR_STATUS IN(0,1)  <!-- 대기/진행 상태 -->
  </select>
  
  <!-- 결재대기문서상세 -->
  <select id="selectApprTodoDetail" resultMap="approvalResultMap">
		SELECT 
		       A.APPR_NO AS APPR_NO
		     , APPR_USER
		     , U.USER_NAME as USER_NAME
		     , A.DEPT_NO as DEPT_NO
		     , APPR_TYPE
		     , APPR_DATE
		     , APPR_TITLE
		     , APPR_CONTENT
		     , APPR_STATUS
		     , LINE_NO
		     , L.USER_NO as USER_NO
		     , CURR_ORDER
		     , LINE_ORDER
		     , LINE_STATUS
		     , LINE_DATE
		     , LINE_REASON
		  FROM T_APPROVAL A
		  JOIN T_APPR_LINE L
		    ON A.APPR_NO = L.APPR_NO
      JOIN T_USER U
        ON U.USER_NO = APPR_USER		    
		 WHERE L.USER_NO = #{userNo}    <!-- LOGINUSER 가져오거나 INTERCEPTOR추가하거나-->
		   AND LINE_ORDER = CURR_ORDER
		   AND A.APPR_NO = #{apprNo}  <!-- 상세로 불러올 문서번호 요청 -->  
  </select>
  
  <!-- 결재예정문서 상세 -->
  <select id="selectApprUpcomingDetail" resultMap="approvalResultMap">
		SELECT A.APPR_NO as APPR_NO
		     , APPR_USER
         , U.USER_NAME as USER_NAME
		     , DEPT_NO
         , D.DEPT_NAME as DEPT_NAME
         , R.RANK_NAME as RANK_NAME
		     , APPR_TYPE 
		     , APPR_DATE
		     , APPR_TITLE
		     , APPR_CONTENT
		     , APPR_STATUS
		     , CURR_ORDER
		     , LINE_NO
		     , L.USER_NO
		     , LINE_ORDER
		     , LINE_STATUS
		     , LINE_DATE
		     , LINE_REASON
		  FROM T_APPROVAL A
		  JOIN T_APPR_LINE L
		    ON A.APPR_NO = L.APPR_NO
      JOIN T_USER U
        ON U.USER_NO = APPR_USER
      JOIN T_RANK R 
        ON R.RANK_NO = U.RANK_NO
      JOIN T_DEPT D
        ON D.DEPT_NO = U.DEPT_NO
		 WHERE APPR_STATUS IN(0,1)      <!-- 대기/진행중 -->
		   AND L.USER_NO = #{userNo}      <!-- LOGINUSER -->
		   AND CURR_ORDER &lt; LINE_ORDER   <!-- 현재결재순서  -->   
		   AND A.APPR_NO = #{apprNo}   <!--  문서번호  -->   
  </select>


	<!-- 기안문서상세 -->
	<select id="selectMyDocDetail" resultMap="approvalResultMap">
		SELECT 
		       APPR_NO
		     , U.USER_NAME as USER_NAME
		     , APPR_USER
         , D.DEPT_NAME as DEPT_NAME		     
		     , APPR_TYPE 
		     , A.DEPT_NO as DEPT_NO
		     , APPR_DATE
		     , APPR_CONTENT
		     , APPR_TITLE
		     , APPR_STATUS
		     , A.CREATE_DATE as CREATE_DATE
		  FROM T_APPROVAL A
      JOIN T_USER U
        ON U.USER_NO = APPR_USER
      JOIN T_DEPT D
        ON D.DEPT_NO = U.DEPT_NO        		  
		 WHERE APPR_USER = #{userNo}	
  	   AND A.APPR_NO = #{apprNo}
	</select>	
	
	<!-- 결재문서 상세 -->
	<select id="selectMyApprovedDetail" resultMap="approvalResultMap">
		SELECT A.APPR_NO as APPR_NO 
		     , APPR_USER 
		     , U.USER_NAME as USER_NAME     
		     , A.DEPT_NO as DEPT_NO
		     , D.DEPT_NAME as DEPT_NAME		
		     , A.CREATE_DATE as CREATE_DATE
		     , APPR_TYPE 
		     , APPR_DATE 
		     , APPR_TITLE 
		     , APPR_CONTENT 
		     , APPR_STATUS 
		     , CURR_ORDER 
		     , LINE_NO 
		     , L.USER_NO 
		     , LINE_ORDER 
		     , LINE_STATUS 
		  FROM T_APPROVAL A 
		  JOIN T_APPR_LINE L 
		    ON A.APPR_NO = L.APPR_NO 
		  JOIN T_USER U
		    ON U.USER_NO = APPR_USER
		  JOIN T_DEPT D
		    ON D.DEPT_NO = U.DEPT_NO    
		 WHERE APPR_STATUS IN(2,3) 
		   AND L.USER_NO = #{userNo}
		   AND A.APPR_NO = #{apprNo}	
	</select>	

	<!-- 진행중 기안문서 최근 5개 가져오기 -->
	<select id="getRecentInProgressDocs" resultMap="approvalResultMap">
		WITH MY_DOC_LIST AS(
		SELECT
		       A.APPR_NO 
		     , A.APPR_USER 
		     , A.APPR_TYPE 
		     , A.APPR_DATE 
		     , A.APPR_TITLE
		     , A.CURR_ORDER 
		     , A.APPR_STATUS
		  FROM T_APPROVAL A
		 WHERE A.APPR_STATUS = 1
		   AND A.APPR_USER = #{userNo}
		 ORDER 
		    BY A.APPR_DATE DESC  
		)
		SELECT 
		       APPR_NO 
		     , APPR_USER 
		     , APPR_TYPE 
		     , APPR_DATE 
		     , APPR_TITLE 
		     , CURR_ORDER 
		     , APPR_STATUS 
		  FROM MY_DOC_LIST A
		 <![CDATA[
		 WHERE ROWNUM <= 5
		 ]]>
	</select>
	
	<select id="getRecentCompletedDocs" resultMap="approvalResultMap">
		WITH MY_DOC_LIST AS(
		SELECT
		       A.APPR_NO 
		     , A.APPR_USER 
		     , A.APPR_TYPE 
		     , A.APPR_DATE 
		     , A.APPR_TITLE
		     , A.CURR_ORDER 
		     , A.APPR_STATUS
		  FROM T_APPROVAL A
		 WHERE A.APPR_STATUS IN(2,3)
		   AND A.APPR_USER = #{userNo}
		 ORDER 
		    BY A.APPR_DATE DESC  
		)
		SELECT 
		       APPR_NO 
		     , APPR_USER 
		     , APPR_TYPE 
		     , APPR_DATE 
		     , APPR_TITLE 
		     , CURR_ORDER 
		     , APPR_STATUS 
		  FROM MY_DOC_LIST A
		 <![CDATA[
		 WHERE ROWNUM <= 5
		 ]]>	
	</select>
	
	<insert id="insertApproval">
		INSERT 
		  INTO T_APPROVAL 
		(
		    APPR_NO
		  , APPR_USER
		  , DEPT_NO
		  , APPR_TYPE
		  , APPR_DATE
		  , APPR_TITLE
		  , APPR_CONTENT
		  , CURR_ORDER
		  , APPR_STATUS
		  , CREATE_DATE
		  , CREATE_USER
		) VALUES 
		(
		    LPAD(SEQ_ANO.NEXTVAL, 4, '0')
		  , #{apprUser}
		  , #{deptNo}
		  , #{apprType}
		  , SYSDATE
		  , #{apprTitle}
		  , #{apprContent}
		  , 1
		  , 0
		  , SYSDATE
		  , #{apprUser}
		)	
	</insert>
	
	<insert id="insertApprovalLine">
		INSERT 
		  INTO T_APPR_LINE 
	  (
		    LINE_NO
		  , APPR_NO
		  , USER_NO
		  , LINE_ORDER
		  , LINE_STATUS
		  , CREATE_DATE
		  , CREATE_USER
		  <if test="updateYn == true">
		  , MODIFY_DATE
		  , MODIFY_USER
		  </if>
		) 
	  VALUES 
		(
		    SEQ_ALNO.NEXTVAL
		  , <choose>
		  		<when test="updateYn==true">
		  			#{apprNo}
		  		</when>
		  		<otherwise>		  		
					  LPAD(SEQ_ANO.CURRVAL, 4, '0')
		  		</otherwise>
		  	</choose>
		  , #{userNo}
		  , #{lineOrder}
		  , 0
		  , SYSDATE
		  , #{createUser}
		  <if test="updateYn == true">
		  , SYSDATE
		  , #{modifyUser}
		  </if>		  
		)	
	</insert>
	
	<!-- 기안서 등록 -->
	<insert id="insertSimpleDraft">
	   INSERT 
	     INTO T_DRAFT 
	   (
	       APPR_NO
	     , ENFORCE_DATE
	     , COOP_DEPT
	   ) 
	   VALUES 
	   (
	       <choose>
		       	<when test="updateYn == true">
		       		#{apprNo}
		       	</when>
		       	<otherwise>
				       LPAD(SEQ_ANO.CURRVAL, 4, '0')	       	
		       	</otherwise>
	       </choose>	     
	     , #{enforceDate}
	     , #{coopDept}
	   )
	</insert>
	
	<!-- 품의서 등록 -->
	<insert id="insertPurchaseDraft">
	   INSERT 
	     INTO T_PURCH_DRAFT 
	   (
	       APPR_NO
	     , PURCH_DEPT
	     , PURCH_EMP_NAME
	     , PURCH_PURPOSE
	     , PURCH_DEADLINE
	     , PURCH_TOTAL
	   ) 
	   VALUES 
	   (
	       LPAD(SEQ_ANO.CURRVAL, 4, '0')
	     , #{purchDept}
	     , #{purchEmpName}
	     , #{purchPurpose}
	     , #{purchDeadline}
	     , #{purchTotal}
	   )
	</insert>
	
	<!-- 품의서 물품 등록 -->
	<insert id="insertPurchaseHistory">
	   INSERT 
	     INTO T_PURCH_HISTORY 
	   (
	       APPR_NO
	     , PRODUCT_NO
	     , PRODUCT_NAME
	     , PRODUCT_UNIT
	     , PRODUCT_AMT
	     , PRODUCT_PRICE
	   ) 
	   VALUES 
	   (
	       <choose>
		       	<when test="updateYn == true">
		       		#{apprNo}
		       	</when>
		       	<otherwise>
				       LPAD(SEQ_ANO.CURRVAL, 4, '0')	       	
		       	</otherwise>
	       </choose>
	     , #{productNo}
	     , #{productName}
	     , #{productUnit}
	     , #{productAmt}
	     , #{productPrice}
	   )
	</insert>	
	
	<!-- 결재선조회 -->
	<select id="selectApproversList" resultMap="apprLineResultMap">
		SELECT LINE_NO
		     , L.APPR_NO as APPR_NO
		     , L.USER_NO as USER_NO
		     , U.USER_NAME as USER_NAME
		     , D.DEPT_NAME as DEPT_NAME
		     , R.RANK_NAME as RANK_NAME
		     , LINE_ORDER
		     , LINE_STATUS
		     , LINE_DATE
		     , LINE_REASON
		     , L.CREATE_DATE as CREATE_DATE
		     , L.CREATE_USER as CREATE_USER
		  FROM T_APPR_LINE L
		  LEFT JOIN T_APPROVAL A
		    ON A.APPR_NO = L.APPR_NO
		  LEFT JOIN T_USER U
		    ON L.USER_NO = U.USER_NO
		  LEFT JOIN T_DEPT D
		    ON U.DEPT_NO = D.DEPT_NO
		  LEFT JOIN T_RANK R
		    ON U.RANK_NO = R.RANK_NO
		 WHERE L.APPR_NO = #{apprNo}
	</select>
	
	<!-- 기안서상세데이터불러오기 -->
	<select id="selectSimpleDraftDetail" resultMap="draftResultMap">
		SELECT APPR_NO
		     , ENFORCE_DATE
		     , COOP_DEPT
		  FROM T_DRAFT
		 WHERE APPR_NO = #{apprNo}
	</select>	
	
	<!-- 품의서내용 -->
	<select id="selectPurchDraftDetail" resultMap="purchResultMap">
		SELECT PD.APPR_NO as APPR_NO
		     , PURCH_DEPT
		     , PURCH_EMP_NAME
		     , PURCH_PURPOSE
		     , PURCH_DEADLINE
		     , PURCH_TOTAL
		     
		     , PRODUCT_NO
		     , PRODUCT_NAME
		     , PRODUCT_UNIT
		     , PRODUCT_AMT
		     , PRODUCT_PRICE     
		  FROM T_PURCH_DRAFT PD
		 RIGHT JOIN T_PURCH_HISTORY PH
		    ON PD.APPR_NO = PH.APPR_NO
		 WHERE PD.APPR_NO = #{apprNo}
	</select>
	
	<!-- 마지막결재자인가? -->
	<select id="isLastOrder" resultType="_int">
    SELECT COUNT(LINE_NO)
      FROM T_APPR_LINE
     WHERE APPR_NO = #{apprNo}
       AND LINE_ORDER > (
           SELECT LINE_ORDER 
             FROM T_APPR_LINE 
            WHERE APPR_NO = #{apprNo} 
              AND USER_NO = #{userNo}
       )	
	</select>
	
	<!-- 다음결재자 순서 변경 -->
	<update id="updateNextOrder">
    UPDATE T_APPROVAL
       SET CURR_ORDER = CURR_ORDER + 1
     WHERE APPR_NO = #{apprNo}	
	</update>

	<!-- 결재선이 진행하는 승인처리 -->
	<update id="updateLineAgree">
    UPDATE T_APPR_LINE
       SET LINE_STATUS = 1  <!-- 승인 -->
         , LINE_DATE = SYSDATE      
     WHERE APPR_NO = #{apprNo}
       AND USER_NO = #{userNo}	
	</update>

	<update id="updateApprStatusToProgress">
    UPDATE T_APPROVAL
       SET APPR_STATUS = 1  <!-- 진행중 -->
     WHERE APPR_NO = #{apprNo}
       AND APPR_STATUS = 0  <!-- 대기중 -->	
	</update>

	<!-- 결재선이 진행하는 반려 처리 -->
	<update id="updateLineReject">
    UPDATE T_APPR_LINE
       SET LINE_STATUS = 2  <!-- 반려 -->
         , LINE_DATE = SYSDATE
         <if test="lineReason != null">
         , LINE_REASON = #{lineReason}         
         </if>
     WHERE APPR_NO = #{apprNo}
	</update>
	
	<!-- 문서 승인 상태 변환 -->
	<update id="updateApprAgree">
    UPDATE T_APPROVAL
       SET APPR_STATUS = 2  <!-- 승인 -->
     WHERE APPR_NO = #{apprNo}	
	</update>

	<!-- 문서 반려 상태 변환 -->
	<update id="updateApprReject">
    UPDATE T_APPROVAL
       SET APPR_STATUS = 3  <!-- 반려 -->
     WHERE APPR_NO = #{apprNo}		
	</update>
	
	<!-- 현재 순서인가 확인 -->
	<select id="isCurrentOrder" resultType="_int">
		SELECT COUNT(A.APPR_NO)
		  FROM T_APPROVAL A
		  JOIN T_APPR_LINE L
		    ON A.APPR_NO = L.APPR_NO
		 WHERE A.APPR_NO = #{apprNo}
		   AND L.USER_NO = #{userNo}
		   AND L.LINE_ORDER = A.CURR_ORDER	
	</select>
	
	<!-- admin - 양식 생성 -->
	<insert id="insertAdminForm">
		INSERT 
		  INTO T_APPROVAL
			(
        APPR_NO,
        APPR_TYPE,
        APPR_CONTENT,
        APPR_STATUS,
        CREATE_DATE,
        CREATE_USER				
			)
		VALUES
		  (
		  	LPAD(SEQ_ANO.NEXTVAL,4,'0')
		  , #{apprType}
		  , #{apprContent}
		  , #{apprStatus}
		  , SYSDATE
		  , #{createUser}
		  	
		  )
	</insert>
	
	<!-- 관리자 양식 목록 조회 -->
	<select id="selectAdminFormList" resultMap="approvalResultMap">
	    SELECT 
	          A.APPR_NO as APPR_NO
	        , A.APPR_TYPE as APPR_TYPE
	        , A.APPR_TITLE as APPR_TITLE
	        , A.CREATE_DATE as CREATE_DATE
	        , A.CREATE_USER as CREATE_USER
	        , A.MODIFY_DATE as MODIFY_DATE
	        , A.UPDATE_USER as UPDATE_USER
	        , U.USER_NAME as USER_NAME   <!-- 생성자명 -->
	    FROM T_APPROVAL A
	    LEFT JOIN T_USER U ON A.CREATE_USER = U.USER_NO
	    WHERE A.APPR_STATUS = 4  <!-- 양식 상태값 -->
	    ORDER BY A.CREATE_DATE DESC
	</select>	
	
	<!-- 관리자 양식 상세 조회 -->
	<select id="selectAdminFormDetail" resultMap="approvalResultMap">
	    SELECT 
	           A.APPR_NO as APPR_NO
	         , A.APPR_TYPE as APPR_TYPE
	         , A.APPR_CONTENT as APPR_CONTENT
	         , A.CREATE_DATE as CREATE_DATE
	         , A.CREATE_USER as CREATE_USER
	         , A.MODIFY_DATE as MODIFY_DATE
	         , A.UPDATE_USER as UPDATE_USER
	    	FROM T_APPROVAL A
	    	LEFT JOIN T_USER U1 ON A.CREATE_USER = U1.USER_NO
	     WHERE A.APPR_NO = #{apprNo}
	    	 AND A.APPR_STATUS = 4  <!-- 양식만 조회 -->
	</select>
	
	<!-- 관리자 양식 수정 -->
	<update id="updateAdminForm">
	    UPDATE T_APPROVAL 
	       SET 
	        	 APPR_TYPE = #{apprType}
	         , APPR_CONTENT = #{apprContent}
	         , MODIFY_DATE = SYSDATE
	         , UPDATE_USER = #{updateUser}
	     WHERE APPR_NO = #{apprNo}
	       AND APPR_STATUS = 4  <!-- 양식만 수정 가능 -->
	</update>	

	<!-- 양식 삭제 -->
	<delete id="deleteAdminForm">
    DELETE FROM T_APPROVAL
     WHERE APPR_NO = #{apprNo}
       AND APPR_STATUS = 4	
	</delete>
	
	<!-- 양식종류 조회 -->
	<select id="selectCustomFormTypes" resultMap="approvalResultMap">
		SELECT DISTINCT APPR_TYPE as APPR_TYPE
		  FROM T_APPROVAL 
		 WHERE APPR_STATUS = '4'
		 ORDER 
		    BY APPR_TYPE	
	</select>
	
	<!-- 종류에 따른 내용 가져오기(CLOB이라 내용가져오는 거 분리해야함) -->
	<select id="selectCustomFormContent" resultMap="approvalResultMap">
    SELECT 
           APPR_TYPE
         , APPR_CONTENT
      FROM T_APPROVAL 
     WHERE APPR_STATUS = '4'
       AND APPR_TYPE = #{apprType}
       AND ROWNUM = 1	
	</select>
		
	<!-- 결재 문서 수정 -->
	<update id="updateApproval">
	    UPDATE T_APPROVAL
	       SET APPR_TITLE = #{apprTitle}
	         , APPR_CONTENT = #{apprContent}
	         , MODIFY_DATE = SYSDATE
	         , UPDATE_USER = #{updateUser}
	     WHERE APPR_NO = #{apprNo}
	</update>	
	
	<!-- 기안서 수정 -->
	<update id="updateSimpleDraft">
	    UPDATE T_DRAFT
	       SET ENFORCE_DATE = #{enforceDate}
	         , COOP_DEPT = #{coopDept}
	     WHERE APPR_NO = #{apprNo}
	</update>
	
	<!-- 품의서 수정 -->
	<update id="updatePurchaseDraft">
	    UPDATE T_PURCH_DRAFT
	       SET PURCH_DEPT = #{purchDept}
	         , PURCH_EMP_NAME = #{purchEmpName}
	         , PURCH_PURPOSE = #{purchPurpose}
	         , PURCH_DEADLINE = #{purchDeadline}
	         , PURCH_TOTAL = #{purchTotal}
	     WHERE APPR_NO = #{apprNo}
	</update>
	
	<!-- 결재선 삭제 -->
	<delete id="deleteApprovalLines">
	    DELETE FROM T_APPR_LINE
	     WHERE APPR_NO = #{apprNo}
	</delete>
	
	<!-- 품의서 물품 내역 삭제 -->
	<delete id="deletePurchaseHistory">
	    DELETE FROM T_PURCH_HISTORY
	     WHERE APPR_NO = #{apprNo}
	</delete>	

</mapper>
