<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="deptMapper">
	    <!-- 결과 매핑 -->
    <resultMap id="DeptResultMap" type="DeptDto">
        <result property="deptNo" column="DEPT_NO" />
        <result property="deptName" column="DEPT_NAME" />
        <result property="createDate" column="CREATE_DATE" />
        <result property="createUser" column="CREATE_USER" />
        <result property="modifyDate" column="MODIFY_DATE" />
        <result property="modifyUser" column="MODIFY_USER" />
    </resultMap>

		
    <select id="selectDeptList" resultMap="DeptResultMap">
        SELECT DEPT_NO, DEPT_NAME, CREATE_DATE, CREATE_USER, MODIFY_DATE, MODIFY_USER
        FROM T_DEPT
        ORDER BY DEPT_NO
    </select>

    <insert id="insertCategoryDept">
        INSERT INTO T_DEPT (DEPT_NO, DEPT_NAME, CREATE_DATE, CREATE_USER)
        VALUES (SEQ_DNO.NEXTVAL, #{deptName}, SYSDATE, #{createUser})
    </insert>

    <update id="updateDept">
        UPDATE T_DEPT
        SET DEPT_NAME = #{deptName}, MODIFY_DATE = SYSDATE, MODIFY_USER = #{modifyUser}
        WHERE DEPT_NO = #{deptNo}
    </update>

    <delete id="deleteCategoryDept">
        DELETE FROM T_DEPT WHERE DEPT_NO = #{deptNo}
    </delete>
</mapper>
