<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="equipmentAndFacilityMapper">

	<resultMap id="EquipmentResultMap" type="EquipmentDto">
		<result column="EQUIP_NO" property="equipNo"/>
		<result column="EQUIP_NAME" property="equipName"/>
		<result column="EQUIP_CATEGORY" property="equipCategory"/>
		<result column="CREATE_DATETIME" property="createDateTime"/>
		<result column="CREATE_USER" property="createUser"/>
		<result column="UPDATE_DATETIME" property="updateDateTime"/>
		<result column="UPDATE_USER" property="updateUser"/>
		<result column="STATUS" property="status"/>				
	</resultMap>

	<resultMap id="FacilityResultMap" type="FacilityDto">
		<result column="FACILITY_NO" property="facilityNo"/>
		<result column="FACILITY_NAME" property="facilityName"/>
		<result column="FACILITY_CATEGORY" property="facilityCategory"/>
		<result column="CREATE_DATETIME" property="createDateTime"/>
		<result column="CREATE_USER" property="createUser"/>
		<result column="UPDATE_DATETIME" property="updateDateTime"/>
		<result column="UPDATE_USER" property="updateUser"/>
		<result column="STATUS" property="status"/>				
	</resultMap>
	
	<resultMap id="AttachmentResultMap" type="AttachDto">
		<result column="FILE_NO" property="fileNo"/>
		<result column="EQUIP_NO" property="equipNo"/>
		<result column="APPR_NO" property="apprNo"/>
		<result column="FILE_PATH" property="filePath"/>
		<result column="FILESYSTEM_NAME" property="filesystemName"/>
		<result column="ORIGINAL_NAME" property="originalName"/>
		<result column="UPLOAD_DATE" property="uploadDate"/>
		<result column="REF_TYPE" property="refType"/>				
	</resultMap>
	

	<!-- (상우) 비품 카테고리 조회 -->
	<select id="selectEquipmentCategory" resultType="String">
		select DISTINCT EQUIP_CATEGORY
	  	from T_EQUIPMENT
	</select>
	
	<!-- (상우) 시설 카테고리 조회 -->
	<select id="selectFacilityCategory" resultType="String">
		select DISTINCT FACILITY_CATEGORY
		  from T_FACILITY
	</select>
	
	<!-- (상우) 비품 목록 전체 개수 조회 -->
  <select id="selectEquipmentListCount" resultType="_int">
    select
           COUNT(*)
      from T_EQUIPMENT
     where STATUS = 'Y'   
     <if test="equipment != '비품 전체'">
         and EQUIP_CATEGORY = #{equipment}
     </if>   
  </select>

	<!-- (상우) 시설 목록 전체 개수 조회 -->
  <select id="selectFacilityListCount" resultType="_int">
    select
           COUNT(*)
      from T_FACILITY
     where STATUS = 'Y'      
     <if test="facility != '시설 전체'">
         and FACILITY_CATEGORY = #{facility}
     </if>
  </select>

	<!-- (상우) 비품 목록 조회 -->
  <select id="selectEquipmentList" resultMap="EquipmentResultMap">
    select
   				 EQUIP_NO
				 , EQUIP_NAME
				 , EQUIP_CATEGORY
				 , CREATE_DATETIME
				 , CREATE_USER
				 , UPDATE_DATETIME
				 , UPDATE_USER
				 , STATUS
      from T_EQUIPMENT
     where STATUS = 'Y'
		 <if test="equipment != '비품 전체'">
		 	 and EQUIP_CATEGORY = #{equipment}
		 </if>
     order by EQUIP_NO desc
  </select>	
	
	<!-- (상우) 시설 목록 조회 -->
  <select id="selectFacilityList" resultMap="FacilityResultMap">
    select
   				 FACILITY_NO
				 , FACILITY_NAME
				 , FACILITY_CATEGORY
				 , CREATE_DATETIME
				 , CREATE_USER
				 , UPDATE_DATETIME
				 , UPDATE_USER
				 , STATUS
      from T_FACILITY
     where STATUS = 'Y'
		 <if test="facility != '시설 전체'">
		 	 and FACILITY_CATEGORY = #{facility}
		 </if>
     order by FACILITY_NO desc
  </select>	
	
	<!-- (상우) 비품 삭제 -->
	<update id="deleteEquipment">
		update T_EQUIPMENT
		   set STATUS = 'N'
		 where EQUIP_NO IN
		<foreach collection="array" item="equip_no" open="(" separator="," close=")">
    		#{equip_no}
    </foreach>
	</update>
	
	<!-- (상우) 시설 삭제 -->
	<update id="deleteFacility">
		update T_FACILITY
		   set STATUS = 'N'
		<where>
			<foreach collection="array" item="facility_no" open="FACILITY_NO IN (" separator="," close=")">
	    		#{facility_no}
	    </foreach>
    </where>     
	</update>
	
	<!-- (상우) 비품 추가(첨부파일) - (1/2) T_EQUIPMENT 테이블에 INSERT -->
	<insert id="addEquipment">
		insert
			into T_EQUIPMENT
			(
				EQUIP_NO
			, EQUIP_NAME
			, EQUIP_CATEGORY
			, CREATE_DATETIME
			, CREATE_USER
			)
			values
			(
				LPAD(SEQ_ENO.NEXTVAL, 4, '0')
			, #{name}
			, #{selectedCategory}
			, SYSDATE
			, #{userNo}	
			)
	</insert>
	
	<!-- (상우) 비품 추가(첨부파일) - (2/2) T_ATTACHMENT 테이블에 INSERT -->
	<insert id="addAttachment">
		insert
		  into T_ATTACHMENT
		  (
		  	FILE_NO
		  , EQUIP_NO
		  , FILE_PATH
			, FILESYSTEM_NAME
			, ORIGINAL_NAME
			, UPLOAD_DATE
			, REF_TYPE
		  )
		  values
		  (
		  	SEQ_ATNO.NEXTVAL
		  , LPAD(SEQ_ENO.CURRVAL, 4, '0')	
		  , #{filePath}
		  , #{filesystemName}
		  , #{originalName}
		  , SYSDATE
		  , 'E'
		  )
	</insert>
	
	<!-- (상우) 시설 추가 -->
	<insert id="addFacility">
		insert
			into T_FACILITY
			(
				FACILITY_NO
			, FACILITY_NAME
			, FACILITY_CATEGORY
			, CREATE_DATETIME
			, CREATE_USER
			)
			values
			(
				LPAD(SEQ_FNO.NEXTVAL, 4, '0')
			, #{name}
			, #{selectedCategory}
			, SYSDATE
			, #{userNo}	
			)
	</insert>
	
	<!-- (상우) 비품번호로 파일경로, DB저장파일명 등 조회  -->
	<select id="selectAttachment" resultMap="AttachmentResultMap">
		select 
					 FILE_NO
				 , EQUIP_NO
				 , FILE_PATH
				 , FILESYSTEM_NAME
				 , ORIGINAL_NAME
				 , UPLOAD_DATE
				 , REF_TYPE
	  	from T_ATTACHMENT
		 where equip_no = #{equipNo}
	</select>
	
	<!-- (상우) 비품번호로 비품 정보 조회 -->
	<select id="selectEquipmentByEquipNo" resultMap="EquipmentResultMap">
		select
					 EQUIP_NO
				 , EQUIP_NAME
				 , EQUIP_CATEGORY
				 , CREATE_DATETIME
				 , CREATE_USER
				 , UPDATE_DATETIME
				 , UPDATE_USER
				 , STATUS
			from T_EQUIPMENT
		 where EQUIP_NO = #{equipNo}		 
	</select>
	
	<!-- (상우) 시설 수정 -->
	<update id="modifyFacility">
		update
					 T_FACILITY
			 set FACILITY_NAME = #{name}
				 , FACILITY_CATEGORY = #{selectedCategory}
				 , UPDATE_DATETIME = SYSDATE
				 , UPDATE_USER = #{userNo}
		 where FACILITY_NO = #{no}	 			
	</update>
	
	<!-- (상우) 비품 수정 - 비품 테이블만 update -->
	<update id="modifyEquipmentWithoutFile">
		update
					 T_EQUIPMENT
			 set EQUIP_NAME = #{name}
				 , EQUIP_CATEGORY = #{selectedCategory}
				 , UPDATE_DATETIME = SYSDATE
				 , UPDATE_USER = #{userNo}
		 where EQUIP_NO = #{no}	 			
	</update>
	
	<!-- (상우) 비품 번호로 첨부파일 데이터 삭제 -->
	<delete id="deleteAttachment">
		delete
			from T_ATTACHMENT
		 where EQUIP_NO = #{equipNo}	
	</delete>
	
	<!-- (상우) 복수의 비품 번호로 복수의 첨부파일 정보 조회 -->
	<select id="selectAttachmentList" resultMap="AttachmentResultMap">
		select 
					 FILE_NO
				 , EQUIP_NO
				 , FILE_PATH
				 , FILESYSTEM_NAME
				 , ORIGINAL_NAME
				 , UPLOAD_DATE
				 , REF_TYPE
	  	from T_ATTACHMENT
		<where>
			<foreach collection="array" item="equip_no" open="EQUIP_NO IN (" separator="," close=")">
	    		#{equip_no}
	    </foreach>
    </where>     
	</select>
	
	
	<!-- (상우) 비품 수정 후 첨부파일 insert -->
	<insert id="modifyAddAttachment">
		insert
		  into T_ATTACHMENT
		  (
		  	FILE_NO
		  , EQUIP_NO
		  , FILE_PATH
			, FILESYSTEM_NAME
			, ORIGINAL_NAME
			, UPLOAD_DATE
			, REF_TYPE
		  )
		  values
		  (
		  	SEQ_ATNO.NEXTVAL
		  , LPAD(#{equipNo}, 4, '0')	
		  , #{filePath}
		  , #{filesystemName}
		  , #{originalName}
		  , SYSDATE
		  , 'E'
		  )
	</insert>
</mapper>
